kserver
config
tags
data
.vscode
**.out
**/CMakeFiles
**/CMakeCache.txt
**/Makefile
**/executor/main.cpp
**/*.mp4
**/*.cmake
cron
cron.txt
gendocs.sh
**/*.sql
html
upload_db.sh
logs
libkserver_lib.a
**/.git
test/googletest
**/kserver_test
