[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
[submodule "cppzmq"]
	path = third_party/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "third_party/kiqoder"]
	path = third_party/kiqoder
	url = https://github.com/StronglogicSolutions/kiqoder
[submodule "third_party/jwt-cpp"]
	path = third_party/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp
[submodule "third_party/klogger"]
	path = third_party/klogger
	url = https://github.com/StronglogicSolutions/klogger
[submodule "third_party/kproto"]
	path = third_party/kproto
	url = https://github.com/StronglogicSolutions/kproto
[submodule "third_party/process_executor"]
	path = third_party/process_executor
	url = https://github.com/StronglogicSolutions/process_executor
