kserver
config
tags
data
cron.txt
gendocs.sh
html
upload_db.sh
logs
libkserver_lib.a
lib
**.out
**/CMakeFiles
**/CMakeCache.txt
**/Makefile
**/executor/main.cpp
**/*.mp4
**/*.cmake
**/*.sql
**/.git
**/kserver_test
.vscode
