[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
[submodule "cppzmq"]
	path = third_party/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "third_party/kiqoder"]
	path = third_party/kiqoder
	url = https://github.com/StronglogicSolutions/kiqoder
[submodule "third_party/jwt-cpp"]
	path = third_party/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp
